node_modules/*

*.json
migrations/*.json

*.pyc
*.log
venv/*
.venv/*
*.sublime-*
config.py
GGAUTH.txt
/bin
/include
/lib
/lib64
/__pycache__
/cogs/utils/__pycache__
pyvenv.cfg
config.py
nohup.out
GGAUTH.txt
*.toml
cogs/minigames
/migrations
cogs/admin.py
cogs/buttons.py
cogs/emoji.py
cogs/funhouse.py
cogs/meta.py
cogs/mod.py
cogs/poll.py
cogs/reminder.py
cogs/rng.py
cogs/stats.py
cogs/tags.py
cogs/todo.py
cogs/utils/__init__.py
cogs/utils/cache.py
cogs/utils/checks.py
cogs/utils/context.py
cogs/utils/converters.py
cogs/utils/flags.py
cogs/utils/formats.py
cogs/utils/fuzzy.py
cogs/utils.paginator.py
cogs/utils/time.py
cogs/utils/translator.py